// #sidebar_contexts {
//   position: fixed;
//   top: 50px;
//   width: 220px;
//   background-color: $p700;
//   bottom: 0;
//   left: 0;
//
//   .contexts_title {
//     @include text-general($p100);
//     text-transform: uppercase;
//     margin-top: 30px;
//     margin-left: 20px;
//     position: relative;
//     padding-left: 20px;
//     &:before {
//       content: "\e904";
//       position: absolute;
//       left: 0px;
//       top: 4px;
//       font-family: 'uniquid' !important;
//       speak: none;
//       font-style: normal;
//       font-weight: normal;
//       font-variant: normal;
//       text-transform: none;
//       line-height: 1;
//
//       /* Better Font Rendering =========== */
//       -webkit-font-smoothing: antialiased;
//       -moz-osx-font-smoothing: grayscale;
//     }
//   }
//
//   .contexts_list {
//     margin-top: 20px;
//     list-style:none;
//     padding-left: 0px;
//     margin-left: 0;
//     .list_item {
//       padding: 10px 0;
//       padding-left: 40px;
//       cursor: pointer;
//       margin-bottom: 10px;
//       position: relative;
//       &:last-of-type {
//         margin-bottom: 0;
//       }
//       &.active {
//         background: $p900;
//         &:before {
//           position: absolute;
//           content: "";
//           height: 100%;
//           width: 4px;
//           left: 0px;
//           top: 0px;
//           background-color: red;
//         }
//         &:after {
//           position: absolute;
//           content: "";
//           width: 0;
//           height: 0;
//           border-top: 6px solid transparent;
//           border-bottom: 6px solid transparent;
//           border-right: 8px solid $p500;
//           right: 0;
//           top: 14px;
//         }
//         .item_link {
//           &:before {
//             height: 0;
//             width: 0;
//           }
//         }
//       }
//       @include transition(.3s);
//       &:hover {
//         background: $p900;
//       }
//       .item_link {
//         position: relative;
//         &:before {
//           content: "";
//           position: absolute;
//           width: 8px;
//           height: 8px;
//           left: -20px;
//           top: 4px;
//           border-radius: 50%;
//           background-color: red;
//         }
//       }
//     }
//   }
// }
//

#sidebar_management {
  position: fixed;
  top: 60px;
  width: 230px;
  background-color: $p500;
  bottom: 0;
  left: 0;
  overflow: auto;
  box-shadow: 1px 0px 0 #2a343c;
  border-right: 1px solid rgba(245, 245, 245, .05);
  @include transition(.3s);
  .sidebar_menu {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    .menu_actions {
      float: right;
      margin-right: 20px;
      margin-top: 2px;
      span {
        padding-left: 20px;
        vertical-align: middle;
        @include transition(.3s);
        cursor: pointer;
        &:hover {
          color: $accent-500;
        }
      }
      .faq {
        font-weight: 600;
        font-size: 18px;
      }
    }
    .add_new {
      height: 50px;
      box-shadow: 0px 1px 0 rgba(245, 245, 245, 0.1);
      border-bottom: 1px solid #343e4a;
      border-top: 1px solid rgba(245, 245, 245, 0.1);
      margin-bottom: 20px;
      line-height: 50px;
      @include text-mini($p100);
      text-transform: uppercase;
      width: 100%;
      left: 0;
      right: 0;
      display: block;
      line-height: 50px;
      padding-left: 20px;
      position: relative;

      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        top: -3px;
        left: 0;
        box-shadow: 0px 1px 0 #343e4a;
      }
    }
    .header_logo {
      background: url("../images/logo.svg") 50% 50% no-repeat;
      height: 30px;
      width: 72px;
      float: left;
      margin-left: 20px;
      @include clearfix;

    }
    .icon-add-to-list {
      margin-left: 10px;
      cursor: pointer;
      float: right;
      margin-right: 20px;
      margin-top: 7px;
      @include transition(.3s);
      &:hover {
        color: $accent-500;
      }
    }
  }

  #folder_search {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0;
    background-color: $p700;
    visibility: hidden;
    overflow: hidden;
    width: 0;
    left: 0;
    right: 0;
    @include transition(.3s);
    &.active {
      width: 180px;
      opacity: 1;
      visibility: visible;
      overflow: visible;
      input {
        width: 180px;
        left:0;
        right: 180px;
      }
    }
    input {
      position: absolute;
      left: 0px;
      right: 0px;
      width: 0px;
      text-indent: 0;
      top: -30px;
      background-color: $p500;
      border-bottom: 1px solid $accent-500;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        @include text-mini($gray);

      }
      &::-moz-placeholder { /* Firefox 19+ */
        @include text-mini($gray);

      }
      &:-ms-input-placeholder { /* IE 10+ */
        @include text-mini($gray);

      }
      &:-moz-placeholder { /* Firefox 18- */
        @include text-mini($gray);

      }
    }
  }
  .add_new {
    @include transition(.3s);
    display: block;
    // height: 30px;
    // line-height: 30px;
    border-radius:0px;
    font-weight: bold;
    color: $gray;
    letter-spacing: 2px;
    text-transform: initial;
    padding-left: 20px;
    .icon-circle-with-plus {
      font-size:16px;
    }
    &:hover {
      color: $accent-700;
    }
    span {
      display: inline-block;
      vertical-align: sub;
      text-align: center;
      font-weight: 600;
      margin: 0 auto;
      margin-right: 5px;
      font-size: 12px;
      line-height: 12px;
      vertical-align: baseline;
    }
  }
  .folder_actions {
    float: right;
    margin-top: -20px;
    margin-right: 20px;
    span {
      font-size: 13px;
      vertical-align: middle;
      &.icon-add {
        font-size: 16px;
        font-weight: 800;
        vertical-align: baseline;
      }
    }
    .icon-magnifying-glass {
      margin-left: 10px;
      z-index: 99999;
      position: relative;
      cursor:pointer;
      @include transition(.3s);
      &:hover {
        color: $accent-500;
      }
    }
  }

  .folder_title, .personal_title {
    .icon-folder2 {
      padding-right: 10px;
    }
    @include text-general-black($p100);
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    // &:after {
    //   position: absolute;
    //   content: "";
    //   width: 100%;
    //   left: 0;
    //   bottom: -10px;
    //   height: 1px;
    //   background-color: $p900;
    // }
  }

  .personal_title {
    margin-top: 40px;
  }
  .folder_list, .personal_list {
    margin-top: 10px;
    list-style:none;
    padding-left: 0px;
    margin-left: 0;
    margin-bottom: 10px;
    .list_item {
      // padding: 8px 0;
      // padding-left: 20px;
      cursor: pointer;
      position: relative;

      .icon-trash {
        font-size: 12px;
        float: right;
        color: $gray;
        margin-right: 20px;
        margin-top: -23px;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        position: relative;
        z-index: 9999;
        @include transition(.3s);
        &:hover {
          color: $red;
        }
      }
      a {
        @include text-general($gray);
        position: relative;
        width: 100%;
        text-transform: capitalize;
        height: 100%;
        display: block;
        padding: 8px 0;
        padding-left: 20px;
        &.active {
          @include text-general-black($p100);
          &:before {
            position: absolute;
            content: "";
            width: 3px;
            height: 16px;
            top: 10px;
            left: 0px;
            background-color: $accent-500;
          }
        }
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      &.active {
        background: $p900;
        a {
          @include text-general-black($p100);
        }


        &:after {
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-right: 8px solid $p500;
          right: 0;
          top: 14px;
        }
        .item_link {
          &:before {
            height: 0;
            width: 0;
          }
        }
      }
      @include transition(.3s);
      &:hover {
        background: $p900;
        .icon-trash {
          opacity: 1;
          visibility: visible;
          overflow: visible;
        }
      }
    }
  }
}

#sidebar_information {
  position: fixed;
  top: 100px;
  width: 250px;
  background-color: $p700;
  bottom: 0;
  right: -250px;
  padding: 20px;
  z-index: 100000000;
  visibility: hidden;
  overflow: hidden;
  box-shadow: -1px 0px 0 rgba(51, 58, 66, 0.77);
  border-left: 1px solid rgba(245, 245, 245, 0.1);
  @include transition(.3s);
  &.active {
    width: 250px;
    right: 0;
    overflow: visible;
    visibility: visible;
    overflow: scroll;
  }
  #information_edit {
    position: absolute;
    z-index: 9999;
    top: 0;
    bottom: 0px;
    background: $p900;
    margin-left: 0;
    overflow: hidden;
    visibility: hidden;
    right: -250px;
    width: 250px;
    @include transition(.3s);
    &.infoedit_visible {
        @include transition(.3s);
        visibility: visible  !important;
        overflow: visible !important;
        right: 0 !important;
        width: 250px;
      }
    .edit_back {
      @include text-mini($p100);
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 0;
      position: relative;
      cursor: pointer;
      @include transition(.3s);
      &:hover {
        color: $accent-500;
      }
      span {
        margin-right: 5px;
      }
    }
    button {
      height: 35px;
      line-height: 35px;
      width: 200px;
      margin-left: 25px;
    }

    select {
      border-radius: 0;
      background-color: #333d49;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    .edit_title {
      @include text-mini-black($p100);
      margin-top: 20px;
      margin-left: 20px;
      text-transform: uppercase;
      span {
        margin-right: 10px;
      }
    }
    p {
      @include text-general($gray);
      margin: 0;
      padding: 20px;
      padding-top: 10px;
      span {
        @include text-general-black($accent-500)
      }
      border-bottom: $separator;
    }
    .details_list {
      padding: 20px;
      padding-top: 0;
      .list_item {
        .item_label {
          margin-bottom: 5px;
          margin-top: 10px;
        }
      }
    }
  }
  .details_suptitle {
    @include text-mini-black($p100);
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: -10px;
  }
  .aside_action {
    position: absolute;
    bottom: 20px;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: $p700;
    border-top: $separator;
    .large-4 {
      .action_icon {
        border-right: $separator;
      }
      &:last-of-type {
        .action_icon {
          border-right: 0;
        }
      }
    }
    .action_icon {
      text-align: center;
      margin: 0 auto;

      span {
        margin-top: 12px;
        display: block;
        cursor: pointer;
        color: $p100;
        @include transition(.3s);
        &:hover {
          color: $accent-500;
        }
      }
    }
  }
  &.contract {
    .details_list {
      margin-top: 10px !important;
      .details_title {
        margin-top: 30px !important;
      }
      .list_item {
        margin-bottom: 10px !important;
      }
    }
  }


  .information_primary {
    @include clearfix;
    margin-top: 20px;
    .primary_photo {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      @include cover;
      float: left;
      @include clearfix;
      img {
        width: 30px;
        height: 30px;
        border-radius: 100%;
      }
    }
    .primary_name {
      float: left;
      margin-left: 15px;
      @include clearfix;
      @include text-general-black($p100);
      vertical-align: middle;
      margin-top: 6px;
    }
  }
  .details_list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    .list_item {
      margin-bottom: 20px;
      position: relative;
      .item_label {
        @include text-general(#C2C7CC);
        width: 100px;
        float: left;
      }
      .item_value {
        @include text-general($p100);
        font-weight: 700;
        @include truncate;
        display: inherit;
        &.contexts {
          display: inline-block;
          p {
            margin: 0;
            margin-bottom: 5px;
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
        &.status {
          padding-left: 15px;
          position: relative;
          text-transform: capitalize;
          &:before {
            position: absolute;
            content: "";
            width: 8px;
            height: 8px;
            left: 0px;
            top: 6px;
            border-radius: 100%;
          }
        }
        &.Active {
          &:before {
            background-color: $green;
          }
        }
        &.Expiring {
          &:before {
            background-color: #f08421;
          }
        }
        &.Expired {
          &:before {
            background-color: #e72025;
          }
        }
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .information_details, .information_context {
    margin-top: 10px;
    position: relative;
    .icon-arrow-right {
      position: absolute;
      right: -10px;
      top: -3px;
      cursor: pointer;
      padding: 5px;
      @include transition(.3s);
      &:hover {
        color: $accent-500;
      }
    }
    .details_title, .context_title {
      @include text-general-black($p100);
      padding-bottom: 0px;
      margin-bottom: 15px;
      position: relative;
      // &:after {
      //   content: "";
      //   position: absolute;
      //   width: 100%;
      //   background: rgba(245, 245, 245, .1);
      //   left: 0;
      //   bottom: -5px;
      //   height: 1px;
      //
      // }
    }
  }

  .information_context {
    margin-top: 3px;
  }
  .node_actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .actions {
      position: absolute;
      bottom: 120px;
      padding: 20px 0;
      .icon-plus {
        background-image: url('../images/add_node_white.svg');
        background-position: 50% 50%;
        @include cover;
        width: 22px;
        height: 16px;
        display: inline-block;
        text-align: center;
      }
      .action {
        width: 80px;
        color: $p100;
        display: inline-block;
        text-align: center;
        &.add {
          span {
            background-image: url('../images/add_node_white.svg');
            background-position: 50% 50%;
            @include cover;
            width: 22px;
            height: 16px;
            display: inline-block;
            text-align: center;
          }
        }
      }
    }
    .node_remove {
      bottom: 0;
      position: absolute;
      left: 0;
      right: 0;
      height: 60px;
      text-align: center;
      background-color: $red;
      color: $p100;
      width: 100%;
    }
    .node_disconnect {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 60px;
      height: 60px;
      text-align: center;
      background-color: $p700;
      color: $p100;
    }
  }
}

.infoedit_visible {
  @include transition(.3s);
  visibility: visible  !important;
  overflow: visible !important;
  right: 0 !important;
  width: 250px;
}
