.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background: #fff;
  box-shadow: 3px 0 13px rgba(0,0,0,.5);
  span {
    color: #162C80;
    font-size: 18px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 800;
    margin-left: 30px;
    margin-top: 30px;
    display: block;
    line-height: 30px;
    margin-bottom: 100px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    li {
      margin-bottom: 20px;
      font-size: 14px;
      letter-spacing: 2px;
      position: relative;
      .active {
        color: #162C80;
      &:before {
        content: "";
        position: absolute;
        left: -30px;
        height: 100%;
        top: 0;
        width: 3px;
        background: #162C80;
      }
      }

    }
  }
}

.wrapper {
  margin-left: 250px;
  padding-bottom: 40px;
  .tagline {
    text-align: center;
    margin-bottom: 40px;
  }
  .wrapper_istance {
    .list {
      color: white;
      @include text-general(white);
      font-size: 14px;
      line-height: 24px;
      margin-top: 30px;
      padding-top: 30px;
      margin-bottom: 30px;
      border-top: 1px solid rgba(255,255,255, .3); 
      ul {
        list-style: none;
        margin-bottom: 20px;
        li {
          position: relative;
          margin-bottom: 10px;
          font-style: italic;
          &:before {
            position: absolute;
            content: "";
            width: 8px;
            height: 8px;
            border: 1px solid white;
            left: -20px;
            top: 5px;
          }
        }
      }
    }
  .wrapper_title {
    margin-top: 50px;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 700;
    position: relative;
    margin-bottom: 60px;
    text-align: center;
    color: white;

    &:after {
      position: absolute;
      content: "";
      width: 50px;
      height: 3px;
      left: 50%;
      bottom: -15px;
      margin-left: -25px;
      background: #A3F7B5;
    }
  }

  p {
    @include text-general(white);
    font-size: 14px;
      line-height: 24px;
  }
  }
}

.wrapper_roadmap {
  .roadmap_item {
    height: 250px;
    position: relative;
    div {
    width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: 25px;
    z-index: 9;
    @include text-general(white);
    h3 {
      @include text-mini-black(white);
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    }
    &:after {
      position: absolute;
      content: "";
      width: 4px;
      background: #A3F7B5;
      left: 50%;
      margin-left: -2px;
      top: 45px;
      bottom: 10px;
    }
    &:before {
      position: absolute;
      content: "";
      width: 36px;
      height: 36px;
      border: 3px solid;
      border-radius: 100%;
      border-color: #A3F7B5;
      left: 50%;
      margin-left: -18px;
    }
  }
}

.wrapper_member {
  margin-top: 30px;
  @include text-general(white);
  padding-bottom: 30px;
  border-bottom: 1px solid;
  p {
    font-size: 25px !important;
    font-weight: 200 !important;
  }
  span {
    @include text-mini-black(white);
    text-transform: uppercase;
  }
  b {
    font-style: italic;
  }
}